.fieldWrapper {
  font-size: 18px;
  display: block;
  margin-bottom: 16px;
}

.label {
  display: block;
  margin-bottom: 6px;
}

.input {
  display: block;
  font-size: 16px;
  width: 100%;
  padding: 0.3em 0.5em;
}

.error {
  color: #b41919;
  font-size: 0.9em;
}

.controls {
  display: flex;
  gap: 12px;
}
