/*
 * Стили компонента Modal
 */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
}

.modal {
  max-width: calc(100vw - 48px);
  max-height: calc(100vh - 24px);
}

.blockScroll {
  overflow: hidden;
}
