.item {
  position: relative;
  display: flex;
  column-gap: 10px;
  align-items: center;
}

.item + .item::before {
  content: '';
  position: absolute;
  top: -8px;
  left: 0;
  right: 0;
  height: 1px;
  background-color: currentColor;
}

.content {
  flex-grow: 1;
  font-size: 18px;
}

.content::first-letter {
  font-size: 1.2em;
  font-weight: 600;
  color: #1a1a6c;
}
