.wrapper {
  padding: 32px;
  width: 100%;
  max-width: 560px;
  background-color: #ffffff;
  border-radius: 8px;
}
.controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 12px;
}

.controls > [data-align-right] {
  margin-left: auto;
}

.heading {
  display: block;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 16px;
  text-align: center;
}
