.button {
  padding: 10px 20px;
  border-radius: 4px;
  background-color: #46d;
  color: #fff;
  border: none;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #405ecb;
}

.button:disabled {
  background-color: #8390bf;
  color: #d8d8d8;
}
